* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.content {
  padding: 30px 15px;
}

.grid-body {
  display: grid;

  /* grid-template-columns: 33.333% 33.333% 33.333%; */

  /* grid-template-columns: 1fr 1fr 1fr */
  /* grid-template-columns: 1fr minmax(200px, 2fr) 1fr; */
  /* grid-template-columns: auto 1fr auto; */
  /* grid-template-columns: fit-content(400px) 1fr auto; */
  grid-template-columns: repeat(
    2,
    1fr
  ); /* cтворення колонок перше числи-кількість колонок,друге число - розмір колонок */

  /* grid-template-rows: 50% 50%; */
  grid-template-rows: repeat(
    3,
    1fr
  ); /* cтворення рядків перше числи-кількість рядків,друге число - розмір рядків */

  gap: 30px;
  /* gap - відступ між елементами сітки */
  /* row-gap: ;
  column-gap: ; */
}

@media screen and (min-width: 768px) {
  .grid-body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .grid-body {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

.grid-item {
  min-width: 100%;
  height: 92px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.partner {
  font-size: 60px;
  color: #afb1b8;
}
.grid-header,
.grid-side,
.grid-content {
  padding: 30px;
  border: 2px double red;
  margin-bottom: 30px;
}

.div-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;

  gap: 30px;

  grid-template-areas:
    "header header"
    "side content";
}

.grid-header {
  grid-area: header;
}
.grid-side {
  grid-area: side;
}
.grid-content {
  grid-area: content;
}
